<div class="new-profile-container color-block">
 <h1 class="titre-profil">Modification</h1>

  <%= render 'form' %>


  <div class="event-return-button-show">
      <%= link_to "⬅ Retour", profile_path, class: "event-return" %>
  </div>
</div>
