<div class="new-profile-container">
  <h1>Crée ton Profil</h1>
  <p>Dis-nous qui tu es pour que nous puissions te proposer les meilleurs événements !</p>

  <%= render 'form' %>
  <%= link_to "⬅ Retour", authenticated_root_path, class: "btn btn-secondary" %>
</div>

