<div class="new-profile-container color-block">
  <h1>Crée ton Profil</h1>
  <p>Dis-nous qui tu es pour que nous puissions te proposer les meilleurs événements !</p>

  <%= render 'form' %>
      <div class="event-return-button-show">
          <%= link_to "⬅ Retour", authenticated_root_path, class: "event-return" %>
      </div>

</div>
