.navbar-lewagon{
  justify-content: space-between;
  background: rgba(211, 206, 206, 0.0);
  border-radius: 5px;
  align-items: center;
  padding: 15px 50px;
  display: flex;
  top: 0;
  position: absolute;
  z-index: 1;
  min-width: 100%;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
.nav-item{
  color: antiquewhite;
}

.nav-link{
  font-family: 'Alfa Slab One';
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #C8B6B6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-right: 10px;
  z-index: 0;
}
.avatar{
  border-radius: 50%;
}

.button-navbar{
  background-color: rgb(204, 176, 176);
  border-color:rgb(204, 176, 176);
  border: none;
}
.dropdown-item{
  font-family: 'Alfa Slab One';
  color: #742929;
}
.dropdown-menu{
  background-color: rgb(204, 176, 176);
}
