<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.lebigdata.fr/wp-content/uploads/2024/11/Rencontre-1024x512.png.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1522576268955-2ac995a22b73?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1574879948818-1cfda7aa5b1a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-concept">
  <h2>Concept</h2>
  <p class="first-p"><strong>La véritable barrière entre vous et les personnes que vous ne connaissez pas n’est qu’un simple “Hello”.
  Cependant, oser cette première approche, surtout en face à face, peut être intimidant.</strong></p>
  <p class="second-p">Nous créons des opportunités pour ces rencontres inattendues qui marquent les esprits.
  Ces échanges que vous auriez laissés passer, ces personnes que vous n’auriez jamais rencontrées.
  Des instants privilégiés pour dialoguer avec ceux qui vous entourent et tisser des liens authentiques avec le monde réel.
  Offrez-vous une parenthèse sociale, loin des écrans. Ouvrez-vous aux autres, sans attentes.
  Initiez une conversation, laissez naître une connexion.
  Et si vous osiez vivre une expérience unique aux côtés d’inconnus ?</p>
  <%= link_to 'S\'inscrire', new_user_registration_path, class: 'btn-sign' %>
</div>
