<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.lebigdata.fr/wp-content/uploads/2024/11/Rencontre-1024x512.png.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1522576268955-2ac995a22b73?q=80&w=1929&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1574879948818-1cfda7aa5b1a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
  </div>

  <div class="slogan-homepage">
    <div class="homeslog">
      <div>
        ShareFriends
      </div>
      <div>
        Vous voulez des amis ? Ils sont ici !
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-footer">
  <div class="container-concept">
    <div class="card-home">
      <h3>concept</h3>
      <h2>ShareFriends: qu'est-ce-que c'est ?</h2>
      <div class="txt_home"><p><lett>L</lett>a véritable barrière entre vous et les personnes que vous ne connaissez pas n’est qu’un simple “Hello”. Cependant, oser cette première approche, surtout en face à face, peut être intimidant.</p>
          <p>Nous créons des opportunités pour ces rencontres inattendues qui marquent les esprits. Ces échanges que vous auriez laissés passer, ces personnes que vous n’auriez jamais rencontrées. Des instants privilégiés pour dialoguer avec ceux qui vous entourent et tisser des liens authentiques avec le monde réel.
          Offrez-vous une parenthèse sociale, loin des écrans. Ouvrez-vous aux autres, sans attentes. Initiez une conversation, laissez naître une connexion. Et si vous osiez vivre une expérience unique aux côtés d’inconnus ?</p>
      </div>
    </div>
  </div>
  <div class="container-avis">
    <div class="avis">
      <img src="https://ca.slack-edge.com/T02NE0241-U089DK46MRC-a95e85e3c557-512" alt="Avatar utilisateur" class="user-icon">
      <div class="testimonial">
        <p><b>Lotfi a écrit :</b> "Top appli pour trouver des amis et partager des activités ! Simple, efficace, et j’ai enfin trouvé des gens qui aiment faire du bowling à 2h du matin."</p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
    <div class="avis">
      <img src="https://ca.slack-edge.com/T02NE0241-U089NGEGYEN-223ec69595a6-512" alt="Avatar utilisateur" class="user-icon-right">
      <div class="testimonial">
        <p><b>Anna a écrit :</b>"Parfait pour arrêter de faire des plans solo avec son canapé ! Des gens sympas, des activités cools, pas besoin de t'inventer une personnalité. J'ai trouvé des potes pour tout : de la randonnée au karaoké (et non, je ne chante pas bien). C’est comme Tinder, mais pour les sorties sans les mauvaises surprises !"</p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
    <div class="avis">
      <img src="https://ca.slack-edge.com/T02NE0241-U016L9SL4NP-e8b125078a73-512" alt="Avatar utilisateur" class="user-icon">
      <div class="testimonial">
        <p><b>Maelie a écrit :</b>"Des gens sympas, des activités cool, et plus d’excuses pour rester enfermé chez toi à regarder des vidéos de chats !"</p>
        <div class="stars">★★★★★</div>
      </div>
    </div>
  </div>
</div>
