.fond-login {
  background-image: url('https://images2.imgbox.com/60/d6/ffXXQDIz_o.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.devise-form-login {
  background: rgba(200, 182, 182,0.6);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  height: 200px;
  margin: 200px 300px 100px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.cta-devise {
  padding: 13px;
  font-family: arial;
  font-size: 1em;
  color: #eeece1;
  background-color: #262626;
  border-radius: 10px;
  border: 1px solid #595959;
  box-shadow: 5px 3px 8px #0c0c0c;
  -webkit-box-shadow: 5px 3px 8px #0c0c0c;
  -moz-box-shadow: 5px 3px 8px #0c0c0c;
  width: 100%;
  }

  .cta-devise:hover {
  padding: 13px;
  background-color: #2d2d2d;
  border: 1px solid #c3c3c3;
  box-shadow: 5px 3px 8px #d7d7d7;
  -webkit-box-shadow: 5px 3px 8px #d7d7d7;
  -moz-box-shadow: 5px 3px 8px #d7d7d7;
  }
