.container-show {
  align-items: center;
  margin: 200px 300px 150px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group{
color: antiquewhite;
}

.event {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  position: relative;
}

.event h1 {
  position: absolute;
  background-color: #000;
  color: #FFF;
  font-family: 'Oswald';
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  bottom: -8px;
}

.event-image {
  object-fit: cover;
  height: 400px;
}

.event-info {
  margin: 10px 0;
  padding: 10px;
}

.event-description::before {
  content: "?";
  display: flex
;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #742929;
  color: white;
  position: absolute;
  left: -10px;
  top: -10px;
  margin: auto;
}

.event-description {
  position: relative;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ccb0b1;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 20px;
}

.mood {
  display: flex
;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.mood p:first-child {
  background-color: #742929;
}

.mood p:last-child {
  background-color: rgb(204, 176, 177);
}

.mood p {
  display: inline-block;
  padding: 5px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Manrope';
  letter-spacing: 1px;
  font-size: 12px;
  border-radius: 5px;
}

.inside-card {
  text-align: center;
}

.inside-card strong {
  text-transform: uppercase;
  font-family: 'Manrope';
  font-size: 13px;
}

.inside-card::after {
  content: '';
  display: block;
  height: 1px;
  background: linear-gradient(143deg, #742929, #ccb0b1);
  margin-top: 5px;
}

.waiting-card {
  padding: 13px;
  color: #fff;
  background-color: #6b1d1d;
  border-radius: 5px;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.waiting-card:hover {
  color: #fff;
  background-color: #ccb0b1;
}

.map-style{
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  max-width: 1200px;
  height: auto;
  aspect-ratio: 5 / 1;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.button-event {
  padding: 13px;
  color: #fff;
  background-color: #6b1d1d;
  border-radius: 5px;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}

.button-event:hover {
  color: #fff;
  background-color: #ccb0b1;
}

.event-return {
  border: 1px solid #ccb0b1;
  border-radius: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-family: 'Manrope';
  display: flow-root;

}

.event-return-button {
  margin: 1000px;
}
.text-participants{
  color: #000000;
  margin: 10px;
  font-size: 20px;
  font-weight: sans-serif;
}
.button-profile{
 

}
.button-profile hover {
  background-color: #ccb0b1;
}
